
h1 {
  margin: 20px;
  text-align: center;
}

.container {
  border: 2px solid red;
  margin: auto;
  width: 600px;
  height: 800px;
  box-shadow: 7px 7px 2px #555;
  background: #ddd;
}

.img-container {
  margin: 30px 25px;
}

img {
  width: 100%;
  border: 5px solid brown;
  margin-left: -5px;
}

.p-container {
  border: 5px dashed brown;
  background: yellow;
  margin: 20px;
  padding: 10px;
  overflow: auto;
  height: 250px;
  overflow: scroll;
}

.p1 {
  border: 5px dashed brown;
  background: yellow;
  margin: 20px;
  padding: 10px;
  overflow: auto;
  height: 100px;
}

.p2 {
  border: 5px dashed brown;
  background: yellow;
  margin: 20px;
  padding: 10px;
  overflow: hidden;
  height: 100px;
}
